:host {
  table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    border: none;

    img {
      margin-top: 10px;
    }
  }
  .head-list {
    height: 30px;
    font-size: 20px;
  }
  tr:nth-child(1) {
    margin-top: 10px;
  }
  td:nth-child(3) {
    width: 50%;
  }
  td {
    text-align: center;
  }
  th,
  td {
    border: 1px solid;
    border-collapse: collapse;
    border-bottom: 1px solid;
  }
}
